<!DOCTYPE html>
<html>
    <head>
        <title>FSD 2</title>
    </head>
    <body>
        <%- include('navbar'); %>
        <h2> Contact Us</h2>
        <div class="about-section">
            <h3>Name: <b>Anirudh Jakhotia</b></h3>
            <h3>Roll-No: <b>S20190010007</b></h3>
            <h3>Group-No: <b>30</b></h3>
            <h3>Email: <b>anirudh.j19@iiits.in</b></h3>
        </div>
        <div id="wpcf7-f156-p143-o1 formwrap">
            <form action="/"  class="wpcf7-form" >
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="156">
                    <input type="hidden" name="_wpcf7_version" value="3.7.2">
                    <input type="hidden" name="_wpcf7_locale" value="en_US">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-p143-o1">
                    <input type="hidden" name="_wpnonce" value="d1da331d93">
                </div>
                <p>
                   <span>
                     <input type="text" name="Name" value="" size="40"  aria-required="true" aria-invalid="false" placeholder="Name">
                  </span>
                  <span>
                    <input type="email" name="Email"  size="40"  aria-required="true" aria-invalid="false" placeholder="Email">
                  </span>
              
                  <span>
                    <textarea name="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea>
                  </span>
                  <input type="submit" value="Send" style="background-color: #008CBA;">
                  <img class="ajax-loader" src="http://www.jordancundiff.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
              </p>
          </form>
        </div>
    </body>
</html>