<!DOCTYPE html>
<html>
    <head>
        <title>FSD 2</title>
    </head>
    <body>
        <%- include('navbar'); %>
        <h1>Full Stack Development 2</h1>
        <h2>Details of Our Project</h2>
        <p>The details of the project will be updated later.</p>
    </body>
</html>