<!DOCTYPE html>
<html>
    <head>
        <title>FSD 2</title>
    </head>
    <body>
        <%- include('navbar'); %>
        <h1>Full Stack Development 2</h1>
        <h2>LAB EXAM</h2>
        <p>This is the home page.</p>
        <p>(1) Climate Survey Form will display a form to fill in the details.</p>
        <p>(2) Display Climate Survey Details will show all the details entered. </p>
        <p>(3) This will sort the data in descending order of the timestamp which is atomatically generated.</p>
        <p>(4) This is just a form for collecting Contact Details,</p>


    </body>
</html>