<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/AddClimateDetails">Climate Survey Form</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/ClimateDetails">Display Climate Survey Details</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/SortDetails">Sort Details</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/ContactUs">Contact Us</a>
        </li>
      </ul>
    </div>

  </nav>